/* Reset margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

:root {
  /* Light theme colors */
  --bg-light: linear-gradient(135deg, #ffffff, #f0f0f0); /* White gradient */
  --bg-light-alt: #ffffff; /* Pure white for alternate sections */
  --text-light: #000000; /* Black text */
  --text-light-alt: #000000; /* Black text for alternate sections */
  --sidebar-bg-light: rgba(255, 255, 255, 0.9); /* White sidebar */
  --sidebar-text-light: #000000; /* Black sidebar text */
  --sidebar-hover-light: #008080; /* Teal for hover */
  --sidebar-active-light: #008080; /* Teal for active state */
  --shadow-bg-light: rgba(0, 0, 0, 0.3); /* White sidebar */
  --link-color-light: #008080;
  --link-hover-color-light: #006666;
}

body.dark-mode {
  /* Dark theme colors */
  --bg-dark: linear-gradient(135deg, #0f0f0f, #434343);
  --bg-dark-alt: linear-gradient(135deg, #1f1f1f, #2a2a2a);
  --text-dark: #fff;
  --text-dark-alt: #ccc;
  --sidebar-bg-dark: rgba(0, 0, 0, 0.9);
  --sidebar-text-dark: #fff;
  --sidebar-hover-dark: #007aff;
  --sidebar-active-dark: #007aff;
  --shadow-bg-dark: rgba(255, 255, 255, 0.3);
  --link-color: #66b3b3;
  --link-hover-color: #4db2b2;
}

body.light-mode {
  /* Apply light theme colors */
  --bg: var(--bg-light);
  --bg-alt: var(--bg-light-alt);
  --text: var(--text-light);
  --text-alt: var(--text-light-alt);
  --sidebar-bg: var(--sidebar-bg-light);
  --sidebar-text: var(--sidebar-text-light);
  --sidebar-hover: var(--sidebar-hover-light);
  --sidebar-active: var(--sidebar-active-light);
  --shadow-bg: var(--shadow-bg-light);
  --link-color: var(--link-color-light);
  --link-hover-color: var(--link-hover-color-light);
}

body.dark-mode {
  /* Apply dark theme colors */
  --bg: var(--bg-dark);
  --bg-alt: var(--bg-dark-alt);
  --text: var(--text-dark);
  --text-alt: var(--text-dark-alt);
  --sidebar-bg: var(--sidebar-bg-dark);
  --sidebar-text: var(--sidebar-text-dark);
  --sidebar-hover: var(--sidebar-hover-dark);
  --sidebar-active: var(--sidebar-active-dark);
  --shadow-bg: var(--shadow-bg-dark);
}

/* General App styling */
.App {
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100svh;
  height: auto;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text);
  background: var(--bg);
  padding-bottom: 50px;
}

section:nth-child(even) {
  background: var(--bg-alt);
  color: var(--text-alt);
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  position: fixed;
  top: 20px; /* Adjust top spacing */
  right: 20px; /* Adjust right spacing */
  cursor: pointer;
  z-index: 1000; /* Ensure it is on top of other elements */
}

.icon {
  font-size: 1.5em; /* Adjust icon size */
}

.sun {
  color: darkorange; /* Sun color */
}

.moon {
  color: black; /* Moon color */
}

a {
  color: var(--link-color); /* Default link color */
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color); /* Hover state color */
}

a:active,
a:visited {
  color: var(--link-color); /* Active and visited state color */
}
