footer {
  text-align: center;
  color: var(--text);
  background: var(--bg);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping for better responsiveness */
}

.footer-section {
  display: flex;
  align-items: center; /* Center align items in the section */
  font-size: 0.8rem;
}

.footer h2 {
  color: #007aff;
}

.footer a {
  color: #ccc;
  font-size: 0.9em;
}

.footer a:hover {
  color: #007aff;
}

.footer .social-icons {
  display: flex;
}

.footer .social-icons a {
  margin: 0 5px;
  font-size: 1.5em;
  color: #ccc;
}

.footer .social-icons a:hover {
  color: #007aff;
}

.footer-bottom {
  border-top: 1px solid #333;
  font-size: 0.8em;
}
