.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  border-radius: 0 50px 50px 0;
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 10px;
}

.sidebar .toggle-button {
  cursor: pointer;
  font-size: 1.5em;
  svg {
    fill: var(--sidebar-text);
  }
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 15px 0;
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
  svg {
    fill: var(--sidebar-text);
  }
}

.sidebar li.active {
  transform: scale(1.5);
  opacity: 1;
}

.sidebar li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.sidebar li a .label {
  display: none;
  font-size: 0.8em;
  margin-top: 5px;
}

.sidebar li.active a .label {
  display: block;
}

.sidebar li:hover {
  opacity: 1;
}

.sidebar li:not(.active) {
  transform: scale(0.8);
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 30px;
  }

  .sidebar.collapsed {
    width: 10px;
  }

  .sidebar li a {
    font-size: 1.2em;
  }

  .sidebar li.active a .label {
    display: none;
  }
}

.btmnav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.next-section-icon {
  font-size: 2em;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.next-section {
  font-size: 1em;
  margin-left: 10px;
}

.btmnav {
  background: rgba(0, 0, 0, 0.5); /* Change this for dark mode */
  color: white; /* Change this for dark mode */
  border-radius: 10px;
  padding: 10px 20px;
  transition: background 0.3s ease;
}

@media (prefers-color-scheme: light) {
  .btmnav {
    background: rgba(255, 255, 255, 0.5); /* Change this for light mode */
    color: black; /* Change this for light mode */
  }
}
